.tab-wrap {
  overflow: hidden;
  position: relative;

  > {
    .tab-nav {
      display: flex;
      font-size: var(--fs-large);

      &.st_inline {
        display: block;
      }
    }

    .st_tab-swipe {
      overflow-x: scroll;
    }

    .tab-nav {
      &.st_inline > .tab-list {
        display: inline-block;
      }

      > .tab-list > .tab-item {
        white-space: nowrap;
        color: var(--gray-04);
        font-weight: var(--fw-m);
        padding: 0 8px;
        background-color: transparent;

        &.cs_active {
          color: var(--gray-09);
        }
      }
    }
  }
}

.tab-container {
  margin: 20px 0;
}

.tab-panel {
  display: none;

  &.cs_active {
    display: block;
  }
}

/* tab - line */

.tab-wrap {
  &.st_line > {
    .tab-nav {
      height: 48px;
      gap: 0;
      position: relative;
      background-image: linear-gradient(#e4e7eb, #e4e7eb);
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: 50% 100%;

      > .tab-list {
        display: flex;
        flex: 1;

        > .tab-item {
          flex: 1;

          &.cs_active {
            border-bottom: 2px solid var(--black);
            z-index: 1;
          }
        }
      }
    }

    .st_tab-swipe {
      > .tab-list + .tab-list {
        margin-left: 16px;
      }

      &.st_narrow .tab-list + .tab-list {
        margin-left: 8px;
      }
    }
  }

  .btn-tab-fold {
    position: absolute;
    top: 7px;
    right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid #eee;
    box-shadow: 0px 0px 10px rgba(17, 17, 17, 0.1);
    background-color: #fff;
    z-index: 1;

    &:before {
      display: block;
      content: "";
      width: 12px;
      height: 7px;
      position: absolute;
      left: 10px;
      top: 12px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M1 1L6 6C7.95262 4.04738 11 1 11 1' stroke='%23616E7C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }

    &.cs_folded:before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7' fill='none'%3E%3Cpath d='M11 6L6 1C4.04738 2.95262 1 6 1 6' stroke='%23616E7C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
  }

  &.st_round > .tab-nav {
    > .tab-list {
      + .tab-list {
        margin-left: 7px;
      }

      > .tab-item {
        height: 40px;
        padding: 10px 12px;
        border-radius: 100px;
        color: var(--fc-05);

        &.cs_active {
          background-color: var(--gray-07);
          color: var(--white);
        }
      }
    }

    &.st_inline > .tab-list {
      + .tab-list {
        margin-left: 4px;
        margin-bottom: 12px;
      }

      > .tab-item {
        border: 1px solid #e1e5e8;
        height: 35px;
        padding: 8px 16px;
        font-size: 15px;
      }
    }
  }

  &.st_box > .tab-nav {
    overflow: hidden;
    height: 44px;
    background-color: #f5f7fa;
    padding: 4px;

    > .tab-list {
      display: flex;
      flex: 1;

      > .tab-item {
        flex: 1;

        &.cs_active {
          border-radius: 8px;
          background-color: var(--bg-color);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        }
      }
    }
  }
}

/* tab - st_round */

/* tab - box */

